* {
  border-color: #525252 !important;
}
a {
  color: #686868 !important;
}
a:visited {
  color: #747474 !important;
}
body {
  background-color: #f7f7f7 !important;
  color: #525252 !important;
}
html {
  background-color: #f7f7f7 !important;
}
input,
textarea {
  background-color: #b9b9b9 !important;
  color: #525252 !important;
}
blockquote,
pre {
  background-color: #b9b9b9 !important;
  color: #525252 !important;
}
div#page div#header {
  background-color: #f7f7f7 !important;
}
div#page div#header a {
  color: #747474 !important;
}
.post {
  background-color: #f7f7f7 !important;
}
.post * {
  overflow: auto !important;
}
.post h2 {
  background-color: #b9b9b9 !important;
}
.post h2 a {
  color: #525252 !important;
}
.post div.entry {
  background-color: #f7f7f7 !important;
  color: #525252 !important;
}
.post div.entry blockquote {
  background-color: #b9b9b9 !important;
}
.post div.entry kbd {
  background-color: #b9b9b9 !important;
  border-color: #b9b9b9 !important;
  box-shadow: none !important;
  color: #525252 !important;
  text-shadow: 0px 1px 0px #000 !important;
}
.post pre.mode-line {
  overflow: visible !important;
}
