* {
  border-color: #525252 !important;
}
a {
  color: #686868 !important;
}
a:visited {
  color: #747474 !important;
}
body {
  background-color: #1c1c1c !important;
  color: #525252 !important;
}
html {
  background-color: #1c1c1c !important;
}
input,
textarea {
  background-color: #262626 !important;
  color: #525252 !important;
}
blockquote,
pre {
  background-color: #262626 !important;
  color: #525252 !important;
}
.post-actions {
  background-color: #262626 !important;
}
.textarea-wrapper {
  background-color: #1c1c1c !important;
  color: #525252 !important;
}
